/* 
heme name: MiddleCoast
Theme URI: http://localhost:8888/wordpress-practice/ 
Description: Practice child theme
Author: Andy Johnson
Author URI: https://github.com/An-dy1
Template: twentyseventeen
Version: 1.0
*/